body, html {
    background: #000;
    color: #f2f2f2;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}

header {
    background: #c12626;
    padding-bottom: 3px;
    padding-top: 5px;
    border-bottom: 1px solid #a70808;
}

header hgroup {
    /* max-width: 65%; */
    max-width: 480px;
    margin: 0 auto;
}

header h1 {
    color: #ecbdb8;
    margin-bottom: 0;
    font-size: 1.6rem;
}

header h2 {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    margin-right: 20px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#video1 { 
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .7;
  }

  
#video2 { 
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .7;
    z-index: -1;
  }

section {
    display: block  ;
    min-width: 100vw;
    min-height: 100vh;
    overflow:hidden;
}



#home header {
    position: relative;
    background: rgb(0, 0, 0, .1);
    border-bottom: 0;
}

#page2 {
    position: absolute;
    padding-top: 20vh;
}


#content {
    max-width: 1000px;
    margin: 0 auto;
}

figcaption {
    display: inline-block;
}

#profileImg {
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    max-width: 75px;
    display: inline-block;
}

#sliderDiv {
    margin: 10px auto;
}

#foodSlider {
    background: rgba( 255,255,255,.3);
    padding: 10px;
}

#foodSlider .carousel-inner {
    border-radius: 30%;
}

#foodSlider img {
    height: 500px;
}

#foodSlider .carousel-caption {
    background: rgba( 0, 0, 0, 0.7 );
}

figure {
    background: #151515;
}